<nav class="sidebar">
    <div class="menu_content">
      <ul class="menu_items">
        <!-- duplicate or remove this li tag if you want to add or remove navlink with submenu -->
        <!-- start -->
        <li class="item">
          <a href="index.html" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-grid-alt"></i>
            </span>
            <span class="navlink">Dashboard</span>
          </a>
        </li>

        <li class="item">
          <div href="Orders-Day.html" class="nav_link submenu_item">
            <span class="navlink_icon">
              </i><i class='bx bx-cart-alt'></i>
            </span>
            <span class="navlink">Orders</span>
            <i class="bx bx-chevron-right arrow-left"></i>
            
          </div>
          <ul class="menu_items submenu">
            <a href="Orders-Day.html" class="nav_link sublink">Day</a>
            <a href="Orders-Week.html" class="nav_link sublink">Week</a>
            <a href="Orders-Month.html" class="nav_link sublink">Month</a>
            <a href="All-Orders.html" class="nav_link sublink">All Orders</a>
          </ul>
        </li>
        <li class="item">
          <div href="#" class="nav_link submenu_item">
            <span class="navlink_icon">
              <i class='bx bx-store-alt' ></i>
            </span>
            <span class="navlink">Stores</span>
            <i class="bx bx-chevron-right arrow-left"></i>
          </div>
          <ul class="menu_items submenu">
              <a href="Stores-Barangay.html" class="nav_link sublink">Barangay</a>
              <a href="All-Stores.html" class="nav_link sublink">All stores</a>
          </ul>
        </li>
        <li class="item">
          <div href="#" class="nav_link submenu_item">
            <span class="navlink_icon">
              <i class='bx bx-support'></i>
            </span>
            <span class="navlink">Agents</span>
            <i class="bx bx-chevron-right arrow-left"></i>
          </div>
          <ul class="menu_items submenu">
              <a href="Agent-Name.html" class="nav_link sublink">By Name</a>
              <a href="Agent-Leader.html" class="nav_link sublink">By Team Leader</a>
          </ul>
        </li>
        <li class="item">
          <div href="#" class="nav_link submenu_item">
            <span class="navlink_icon">
              <i class='bx bx-user' ></i>
            </span>
            <span class="navlink">Admin
            </span>
            <i class="bx bx-chevron-right arrow-left"></i>
          </div>
          <ul class="menu_items submenu">
            <a href="Add-Agent.html" class="nav_link sublink">Add Agent</a>
            <a href="Add-Product.html" class="nav_link sublink">Add Products</a>
          </ul>
        </li>
        <!-- end -->
      </ul>
      
      <!-- Sidebar Open / Close -->
      <div class="bottom_content">
        <div class="bottom expand_sidebar">
          <span> Expand</span>
          <i class='bx bx-log-in' ></i>
        </div>
        <div class="bottom collapse_sidebar">
          <span> Collapse</span>
          <i class='bx bx-log-out'></i>
        </div>
      </div>
    </div>
  </nav>