/* Style for the modal content */
.modal-content {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow-y: auto;
}

/* Style for the tables inside the modal */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}




.status-dropdown {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    padding: 5px 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.status-dropdown.pending {
    background-color: #ff9800;
    color: white;
}

.status-dropdown.paid {
    background-color: #4caf50;
    color: white;
}

.status-dropdown.cancelled {
    background-color: #f44336;
    color: white;
}

.status-dropdown.received {
    background-color: #2196f3;
    color: white;
}

